<main>
  <div class="services__info">
    <div class="services__info-directions">
      <h4 class="services__info-title">Направления</h4>
      <p class="services__info-description">Фото, видео, digital и рекламный контент</p>
    </div>
    <div class="services__info-b2b">
      <h4 class="services__info-title">B2B подача</h4>
      <p class="services__info-description">Для компаний, продуктов и производств</p>
    </div>
  </div>
  <div class="services__header">
    <h2 class="services__header-title">Создаем современный медиаконтент, объединяя видеосъемку, фотографию, монтаж 
    и digital-решения</h2>
  </div>
  <section class="services" id="services">
    
    <div class="services__section">
      <p class="services__section-description">Услуги</p>
      <h3 class="services__section-title">Реализуем ваши идеи в медиаконтенте</h3>
      <nav class="services__section-nav" aria-label="Услуги">
        <div class="services__section-nav-list">
          <button type="button" class="services__section-nav-item"><span>1</span> Контент для бизнеса</button>
          <button type="button" class="services__section-nav-item"><span>2</span> Сайты</button>
          <button type="button" class="services__section-nav-item"><span>3</span> Свадьбы</button>
          <button type="button" class="services__section-nav-item"><span>4</span> Выпускные</button>
        </div>
      </nav>
      <div class="services__section-content">
        <article class="services__section-article">

        </article>
      </div>
    </div>

  </section>
</main>