@use '../../../scss/base/variables' as *;
@use '../../../scss/base/mixins' as *;

// Services header
.services__header {
  // Layout
  min-width: 900px;
  width: 65%;
  margin-top: 80px;
  margin-left: 15%;
  margin-bottom: 140px;
  @include tablet {
    min-width: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
  @include mobile {
    width: 90%;
    margin-bottom: 0px;
  }
  // Typography
  &-title {
    font-size: clamp(24px, 3.4vw, 80px);
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.03em;
    color: $color-dark;
    @include tablet {
      font-size: clamp(20px, 5.3vw, 80px);
    }
    @include mobile {
      font-size: clamp(18px, 7vw, 60px);
    }
  }
}
