<header class="header" id="main">
  <div class="header__container">
    <p class="header__menu">Фото / Видео / Контент для бизнеса</p>
    <h1 class="header__title"><a href="#services">Ваш продукт достоин сильной подачи </a></h1>
    <h2 class="header__subtitle"> <a href="#services">Фото и видео контент <br> Разработка сайтов</a></h2>
    <div class="header__buttons">
      <a class="header__button header__button--primary" href="#contacts">Обсудить проект</a>
      <a class="header__button header__button--secondary" href="#services">Смотреть услуги</a>
    </div>
  </div>
</header>